<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Connexion{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
{% block body %}

<nav class="navbar  navbar-inverse  navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
        >
            <span class="sr-only"> Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
        </button>

        <a class="navbar-brand" href="/"> Ydays Project</a>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/inscription">Inscription</a> </li>
                <li> <a href="#">Connexion</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default" style="margin-left: 180px; margin-top:100px;width: 900px;">
    <div class="panel-heading">Connexion
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password">
                </div>
            </div>
        </div>
        <div class="pull-right control group">
            <button type='button' class='btn btn-success'>Connexion</button>
        </div>
    </div>
</div>
</body>

{% endblock %}
{% block footer %}
<div class="navbar  navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull=left">
            <p> © YDAYS 2017.</p>
        </div>

    </div>
</div>
{% endblock %}