<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Inscription{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

{% block header %}
    <nav class="navbar  navbar-inverse  navbar-fixed-top">
        <div class="container">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
            >
                <span class="sr-only"> Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>

            <a class="navbar-brand" href="/"> Ydays Project</a>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#">Inscription</a> </li>
                    <li> <a href="/connexion">Connexion</a> </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
<body style="margin-top: 100px">
<form action="" method="POST">
<div class="panel panel-default" style="margin-left: 180px; width: 900px;">
    <div class="panel-heading ">Inscription
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="lastname">
                </div>
                <div class="form-group">
                    <label for="firstname">Prenom</label>
                    <input type="text" class="form-control" id="firstname" name="firstname">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="Confirm_Password">Confirmer le mot de passe</label>
                    <input type="password" class="form-control" id="Confirm_Password" name="Confirm_Password">
                </div>
            </div>
        </div>
        <div class="pull-right control group">
            <button type='submit' name="submit" class='btn btn-success'>Inscription</button>
        </div>
    </div>
</div>
</form>
</body>
{% endblock %}
{% block footer %}
<div class="navbar  navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text pull=left">
            <p> © YDAYS 2017.</p>
        </div>

    </div>
</div>
{% endblock %}